body{
    margin: 0%;
    padding: 0%;
}
section{
    width: 80%;
    margin: auto;
    display: block;
}
.bannertitle{
    height: 32%;
}
.header{
    margin-top: 50px;
    width: 108%;
    height: 600px;
    border-radius: 16px;
    flex-shrink: 0;
    background: no-repeat;
    display: block;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("../resources/Banner\ Image.png")
}
.headertext{
    text-align: center;
    color: #FFF;
    height: 180px;
    font-size: 30px;
    padding: 233px,344px,177px,344px;
}
#categories{
    color: #070211;
    margin-top: 0%;
    font-size: 29px;
}
.deals{
        color: #F00;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
}
#better{
    font-size: 15px;
    text-align: center;
    color: #F00;
    font-style: normal;
    font-weight: 200;
    margin-top: 0%;
}
#image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}
.img{
    width: 50%;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.midnight {
    margin-top: 50px;
    height: 600px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../resources/Vectorrr.png);
}
.party {
    font-style: normal;
    line-height: 60px;
    letter-spacing: 7px;
    width: 300px;
}
.time{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: block;
    text-align: center;
    width: 105%;
    height: 400px;
    font-weight: 500;
}
#welcome{
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
}
.date{
    width: 400%px;
    height: 100px;
    margin-top: 130px;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 200px;
    padding: 100px,370px,245px,370px;
}
span{
    color: #F00;
}
.itsbtn{
    background-color: #F00;
    border-radius: 5px;
    border: none;
}
.now{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 15px,30px;
}
.subscribe{
    background: rgba(255, 0, 0, 0.05);
    width: 90%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 125px;
}
#paragraph{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.emailbtn{
    margin-top: 35px;
}
.emailform{
    max-width: 648px;
    margin: 20px,350px;
    display: flex;
}
#email{
    width: 700px;
    border: none;
    border-radius: 50px;
}
#subscribe-btn{
    border-radius: 0px,50px,50px,0px;
    background-color: #F00;
    border: none;
    width: 210px;
    height: 70px;
}
.footer-start{
    background-color: #070211;
    height: 645px;
}
.footerplace{
    width: 80%;
    max-width: 1300px;
    display: flex;
    margin: 150px,200px;
    justify-content: space-between;
}
.address{
    color: #FFF;
    font-size: 25px;
    margin-top: 125px;
    font-weight: 500px;
    line-height: 40px;
    width: 375px;
}
.contact{
    color: #FFF;
    font-size: 25px;
    margin-top: 125px;
    font-weight: 500px;
    line-height: 40px;
    width: 375px;
}
#phone{
    margin-right: 16px;
}
.website{
    color: #FFF;
    font-size: 25px;
    font-weight: 500px;
    line-height: 40px;
}
#web{
    margin-right: 16px;
}
.space{
    margin-top: 20px;
    margin-bottom: 48px;
}
.icons{
    margin-right: 200px;
    text-align: center;
}
.footer-end{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
}
.rights{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 120px;
    margin-left: 140px;
}
.footerclose{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    margin-right: 140px;
}