body{
    margin: 0%;
    padding: 0%;
}
section{
    width: 80%;
    margin: auto;
    display: block;
}
.bannertitle{
    height: 32%;
}
.header{
    margin-top: 50px;
    width: 108%;
    height: 600px;
    border-radius: 16px;
    flex-shrink: 0;
    background: no-repeat;
    display: block;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("../resources/Banner\ Image.png")
}
.headertext{
    text-align: center;
    color: #FFF;
    height: 180px;
    font-size: 30px;
    padding: 233px,344px,177px,344px;
}
#categories{
    color: #070211;
    margin-top: 0%;
    margin bottom: 10%;
    font-size: 29px;
}
.deals{
        color: #F00;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
}
#better{
    font-size: 15px;
    text-align: center;
    color: #F00;
    font-style: normal;
    font-weight: 200;
    margin-top: 0%;
}
#image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin: 0%;
}
.img{
    width: 50%;
    height: 300px;
}
.midnight {
    text-align: left;
    font-size: 20px;
    color: #FFF;
    background-image: url(../resources/Vectorrr.png);
    display: flex;
}
.time{
    background-color: mistyrose;
}
